<div class='title-container'>
    <div class='home-title'>Spendit Frontend Challenge</div>
    <div class='home-subtitle'>This webapp is fetching beer information from Punk api</div>
</div>
<div class='loading-text'
    *ngIf="showLoading">Loading....</div>
<app-table *ngIf="!showLoading"
    [paginatedPromise]='paginatedPromise'
    [customHtml]="'<h1>Beer Table</h1>'"
    (paginatedEvent)="onPageChange($event)"
    (userRowSelectionEvent)="onUserSelect($event)"></app-table>
<div class="home-copyrights">A SebasBar's webapp, 2023.</div>