<div class='table-component-container'>
    <div *ngIf="isHtml">
        <div class='html-custom-header'
            [innerHTML]="customHtml ? (customHtml | safeHtml) : ''"></div>
    </div>

    <div class='user-table-checkbox'>
        <table class='checkbox-column'
            *ngIf="isSelectMode">
            <div class='row-selection-text'>Row?</div>
            <div *ngFor="let row of paginated.data; let i = index"
                class='checkbox'>
                <input type="checkbox"
                    [(ngModel)]="selectedRows[i]"
                    (change)="onCheckboxChange(i)" />
            </div>
        </table>

        <table id="user-table">

            <!-- not custom column string array -->
            <thead *ngIf="!userColumnArray">
                <tr>
                    <th *ngFor='let column of columnArray'>
                        {{column}}
                    </th>
                </tr>
            </thead>

            <!-- custom column string array -->
            <thead *ngIf="userColumnArray">
                <tr>
                    <th *ngFor='let userColumn of userColumnArray'>
                        {{userColumn}}
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of paginated.data | paginate: {
                    itemsPerPage: per_page,
                    currentPage: page,
                    totalItems: totalItems }">
                    <td *ngFor="let column of columnArray">
                        {{ row[column]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class='paginator-select-row'>
        <button *ngIf="isSelectMode"
            (click)="onSelectAll()">{{selectAllButtonText}}</button>

        <div class='select-pagination'>
            <button (click)="toogleSelectMode()">{{selectModeButtonText}}</button>
            <pagination-controls (pageChange)="onPageChange(page = $event)"></pagination-controls>
        </div>
        <div class='items-per-page'>Items per Page:
            <select (change)="onPageSizeChange($event)">
                <option *ngFor="let optionItem of optionArrayPerPage"
                    [ngValue]="per_page">{{optionItem}}</option>
            </select>
        </div>
    </div>

</div>