<div class='table-component-container'>
    <h1>User Table </h1>

    <!-- Display in case user enters a valid Html string -->
    <div *ngIf="isHtml">
        <div class='html-custom-header'
            [innerHTML]="customHtml ? (customHtml | safeHtml) : ''"></div>
    </div>

    <div class='user-table-checkbox'>
        <table class='checkbox-column'
            *ngIf="isSelectMode">
            <div class='row-selection-text'>Row?</div>
            <div *ngFor="let row of paginated.data; let i = index"
                class='checkbox'>
                <input type="checkbox"
                    [(ngModel)]="selectedRows[i]"
                    (change)="onCheckboxChange(i)" />
            </div>
        </table>

        <table id="user-table">

            <!-- If user don't enters custom column string array -->
            <thead *ngIf="!userColumnArray">
                <tr>
                    <th *ngFor='let column of columnArray'>
                        {{column}}
                    </th>
                </tr>
            </thead>

            <!-- If user enters custom column string array -->
            <thead *ngIf="userColumnArray">
                <tr>

                    <th *ngFor='let userColumn of userColumnArray'>
                        {{userColumn}}
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of paginated.data; let i = index">
                    <td *ngFor="let column of columnArray">
                        {{ row[column]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class='paginator-select-row'>
        <button *ngIf="isSelectMode"
            (click)="onSelectAll()">{{selectAllButtonText}}</button>
        <div>
            <button class='toogle-button'
                (click)="toogleSelectMode()">{{selectModeButtonText}}</button>
            <button class='pagination-button'>Pagination</button>
        </div>
    </div>

</div>