<div class='table-component-container'>
    <h1>User Table </h1>

    <table id="user-table">
        <thead *ngIf="isHtml(columns)">
            <div [innerHTML]="columns"></div>
        </thead>
        <thead *ngIf="headerArray">
            <tr>
                <th *ngFor='let header of headerArray'>
                    {{header}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of dataArray">
                <td *ngFor="let header of headerArray">
                    {{ data[header]}}
                </td>
            </tr>
        </tbody>
    </table>

</div>