.table-component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paginator-select-row {
  display: flex;
  position: absolute;
  top: 76vh;
  width: 70%;
  justify-content: space-evenly;
  gap: 60px;
  align-items: center;
}

.user-table-checkbox {
  display: flex;
  gap: 10px;
  width: 80vw;
  justify-content: center;
}

button {
  background-color: LIGHTBLUE;
  border: 1px solid grey;
  border-radius: 12px;
  height: 35px;
}

.select-pagination {
  display: flex;
  gap: 10px;
  align-items: center;
}

.html-custom-header {
  display: flex;
  align-items: baseline;
}

.checkbox-column {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  flex-direction: column;
  border: 1px dotted #797878;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.row-selection-text {
  height: 29px;
  display: flex;
  align-items: center;
}

.items-per-page {
  display: flex;
  gap: 5px;
}

#user-table {
  border-collapse: collapse;
  width: 90%;
}

#user-table td,
#user-table th {
  border: 1px solid #797878;
  padding: 8px;
}

#user-table tr:nth-child(even) {
  background-color: #e4f4fa;
}

#user-table tr:hover {
  background-color: lightcyan;
}

#user-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(184, 221, 233);
  color: black;
  font-size: large;
}
